
.main-header-container {
  position: relative;
  width: 100%;
  background-color: #b0c0a5;
}

.main-header-background {
  bottom: 0;
  left: 0;
  width:  100%;
}

.main-header-overlay-text {

  text-transform: uppercase;
  overflow-wrap: normal;
  word-break: keep-all;
  line-height: 1;
  position: absolute;
  top: 240px;
  left: 40%;
  right: 5%;
  color: var(--dark-color);
  font-weight: bold;
  font-size: 3.5vw;
  font-family: var(--font-heading);
  
}
.main-header-overlay-text-low {
  margin-top: 10px;
  background-color: var(--lifgtBKG);
  color: var(--darkBKG);
  font-weight: bold;
  font-size: 2vw;
  font-family: var(--font-heading);
}
.main-header-logos-container
{
  top: 50px;
  right: 50px;
  position: absolute;
  gap: 100px;

}
.main-header-logos-container *
{
  max-height: 100px;
  

}
.logo-cgantd
{

}
.logo-peterhof
{
  max-width: 140px;
}
.logo-pushkin
{
  min-height: 120px;
}
.logo-gov
{

}

@media (max-width: 1199px)
{
  .main-header-overlay-text {
    top: 200px;
  
  }
  .main-header-logos-container
  {
    top: 20px;
    right: 20px;
  }
  .logo-pushkin
  {
    min-height: 80px;
  }
  .main-header-logos-container *
  {
    max-height: 70px;
  }
}
@media (max-width: 991px)
{
    .main-header-logos-container
  {
    top: 20px;
    right: 20px;
  }
  .main-header-logos-container *
  {
    max-height: 50px;
  }
  .logo-pushkin
  {
    min-height: 55px;
  }
}

