
.main-header-container {
  position: relative;
  width: 100%;
  background-color: #b0c0a5;
}

.main-header-background {
  bottom: 0;
  left: 0;
  width:  100%;
}
.main-header-background img{
  width:  100%;
  
}

.main-header-overlay-text {

  text-transform: uppercase;
  overflow-wrap: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
  word-break: break-word;
  position: absolute;
  line-height: 1;
  margin-top: 50px;
  left: 40%;
  right: 5%;
  color: var(--dark-color);
  font-weight: bold;
  font-size: 70px;
  font-family: var(--font-heading);
  
}
.main-header-overlay-text-low {
  margin-top: 10px;
  overflow-wrap: break-word;
  word-break: break-word;
  background-color: var(--lifgtBKG);
  color: var(--darkBKG);
  font-weight: bold;
  font-size: 40px;
  font-family: var(--font-heading);
}
.main-header-logos-container
{
  padding: 10px;
  justify-items: right;

}
.main-header-logos-container *
{
  height: 110px;
  
}
@media (max-width: 1599px)
{
  .main-header-logos-container
  {
    top: 10px;
    right: 10px;
  }
}


@media (max-width: 1399px)
{
  .main-header-logos-container
  {
    top: 10px;
    right: 10px;
  }
    .main-header-overlay-text {

    font-size:  60px;
  }


}

@media (max-width: 1199px)
{
  .main-header-overlay-text {

    font-size: 50px;
  }
  .main-header-overlay-text-low {

  font-size: 30px;

  }
  .main-header-overlay-text {
    top: 200px;
    
  }
  .main-header-logos-container *
  {
    max-height: 90px;
  }
}
@media (max-width: 991px)
{
  .main-header-overlay-text {

    font-size: 35px;
  }
  .main-header-overlay-text-low {

  font-size: 20px;

  }
  .main-header-logos-container *
  {
    max-height: 90px;
  }
}
@media (max-width: 767px)
{
  
  .main-header-logos-container *
  {
    max-height: 70px;
  }
  .main-header-overlay-text {

  font-size: 12px;
    
  
  }
    .main-header-overlay-text-low {

  font-size: 12px;


}

