
.main-header-container {
  position: relative;
  width: 100%;
}

.main-header-background {
  width: 100%;
  bottom: 0;
  left: 0;
  min-height: 900px;
  object-fit: contain;
}

.main-header-overlay-text {

  text-transform: uppercase;
  overflow-wrap: normal;
  word-break: keep-all;
  line-height: 1;
  position: absolute;
  top: 20%;
  left: 40%;
  right: 5%;
  color: var(--dark-color);
  font-weight: bold;
  font-size: 3.5vw;
  font-family: var(--font-heading);
  
}
.main-header-overlay-text-low {
  background-color: var(--lifgtBKG);
  color: var(--darkBKG);
  font-weight: bold;
  font-size: 2vw;
  font-family: var(--font-heading);
}
.main-header-logos-container
{
  top: 50px;
  right: 50px;
  max-height: 50px;
  position: absolute;
}